<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">

        <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
        <link rel="stylesheet" href="{{ asset('css/collapse.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="container">
        {%  include('inc/nav.html.twig') %}

        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}

        {% if app.session.flashBag.has('warning') %}
            <div class="alert alert-warning">
                {% for msg in app.session.flashBag.get('warning') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}

        {% if app.session.flashBag.has('error') %}
            <div class="alert alert-danger">
                {% for msg in app.session.flashBag.get('error') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}

        {% block body %}{% endblock %}
    </div>

    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('js/') }}"></script>
    {% block javascripts %}

    {% endblock %}

    </body>
</html>
